/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /** GLOBAL **/

 body {
  margin: 0;
  height: 100%;
}

.main-content {
  display: flex;
}

table {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

table, th, td {
  border: 1px solid black;
}

.section {
  margin-top: 200px;
}

.section-title h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
  text-align: center;
}

a.button3 {
  display: inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}
a.button3:hover{
  background-color:#4095c6;
}

.submit input[type=submit] {
  width: 50%;
  margin-left: 250px;
  margin-top: 30px;
}

 /** SIDEBAR **/

 .logo {
  text-align: center;
}

.logo img {
  height: 200px;
}

 .sidebar {
   width: 300px;
   height: auto;
   border: 1px solid black;
   background-color: #003459;
 }

 .sidebar-title h1 {
   font-size: large;
   color: white;
   text-align: center;
   text-transform: uppercase;
 }

 .sidebar-link {
   margin-top: 80px;
   text-align: center;
 }

 .sidebar-link a {
   color: white;
 }

 /** Main **/

 .main-info {
  width: 100%;
 }

 .user-detail h2 {
   text-align: center;
 }

 .details {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
 }

 .details h3 {
   margin: 0 10px;
 }

 .buttons {
   display: flex; 
   justify-content: center;
   margin: 20px;
 }

 .buttons a {
   margin-left: 20px;
 }

 .user-products h2 {
   text-align: center;
 }

.index-table table {
  margin: 0 auto;
}

.section-title h1 {
  text-align: center;
}